In [1]:
import pandas as pd

In [3]:
df =pd.read_csv('posts.csv')

In [6]:
df

,Unnamed: 0,Time,PostDetails,likeCount,CommentCount
0,0,6d,Googler Joy Jackson shares what it’s like to w...,"2,143",37 comments
1,1,NaN,NaN,NaN,NaN
2,2,1w,"Kent Walker, SVP of Global Affairs at Google, ...",256,9 comments
3,3,3w,Wondering what it’s like to work at our Dublin...,"3,439",66 comments
4,4,2w,"When you’re looking for a new role, why not tr...","3,022",92 comments
5,5,1w,"In the new series, Tech Bytes, #WomenTechmaker...","1,382",60 comments
6,6,3w,“The beauty in us reclaiming Juneteenth is tha...,"1,994",30 comments
7,7,3w,A few years ago we started an inclusive market...,"2,105",41 comments
8,8,1w,“I was first introduced to computer science wh...,"9,752",164 comments
9,9,2w,“I jumped at the chance to put some of my idea...,"3,039",62 comments
10,10,2w,"This year, we’re supporting LGBTQ+ communities...","7,221",102 comments
11,11,1mo,ICYMI: Google CEO Sundar Pichai shared an upda...,"12,659",190 comments
12,12,2w,Google’s sustainability goals are ambitious—an...,"15,133",232 comments

In [7]:
dff = df[pd.notnull(df['PostDetails'])]
dff

,Unnamed: 0,Time,PostDetails,likeCount,CommentCount
0,0,6d,Googler Joy Jackson shares what it’s like to w...,"2,143",37 comments
2,2,1w,"Kent Walker, SVP of Global Affairs at Google, ...",256,9 comments
3,3,3w,Wondering what it’s like to work at our Dublin...,"3,439",66 comments
4,4,2w,"When you’re looking for a new role, why not tr...","3,022",92 comments
5,5,1w,"In the new series, Tech Bytes, #WomenTechmaker...","1,382",60 comments
6,6,3w,“The beauty in us reclaiming Juneteenth is tha...,"1,994",30 comments
7,7,3w,A few years ago we started an inclusive market...,"2,105",41 comments
8,8,1w,“I was first introduced to computer science wh...,"9,752",164 comments
9,9,2w,“I jumped at the chance to put some of my idea...,"3,039",62 comments
10,10,2w,"This year, we’re supporting LGBTQ+ communities...","7,221",102 comments
11,11,1mo,ICYMI: Google CEO Sundar Pichai shared an upda...,"12,659",190 comments
12,12,2w,Google’s sustainability goals are ambitious—an...,"15,133",232 comments